@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@source "../../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* @font-face { // 왜안되냐고!!!!
  font-family: "UnPenheulim";
  src: url("/fonts/UnPenheulim.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
} */

@font-face {
  font-family: 'Nanum';
  src: url('/fonts/나눔손글씨성실체.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100vh;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    color: #ffffff;
  }
  button {
    cursor: pointer;
  }

  select {
    border: 2px solid;
  }

  label {
    font-weight: 700;
  }
}

@layer components {
  .scroll-none::-webkit-scrollbar {
    display: none;
  }

  .bg-primary {
    @apply !border-zinc-700 !bg-zinc-800;
  }

  .bg-secondary {
    @apply !border-zinc-600 !bg-zinc-700;
  }

  .btn-primary {
    @apply !bg-zinc-600 p-2 !text-white hover:bg-zinc-700;
  }

  .btn-secondary {
    @apply !bg-amber-400 !text-neutral-900 hover:bg-amber-600;
  }

  .input-primary {
    @apply focus:outline focus:outline-stone-800;
  }

  .tab {
    @apply inline-block min-w-20 rounded-t-lg border-b-2;
  }

  .text-primary {
    @apply font-normal text-gray-700 dark:text-gray-400;
  }

  .canvas {
    height: 100vh;
    left: 0px;
    pointer-events: none;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
}

.font-unpen {
  font-family: 'Nanum', serif;
  text-align: center;
  font-weight: 700;
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes infinite-scroll-reverse {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }

  .animate-infinite-scroll-reverse {
    animation: infinite-scroll-reverse 40s linear infinite;
  }

  .animate-infinite-scroll:hover,
  .animate-infinite-scroll-reverse:hover {
    animation-play-state: paused;
  }
}
